<nav class="top-nav">
  <h1 style="text-align:center">Reminder App</h1>
  <button class="nav-link"><%= link_to 'New Reminder', root_path %></button>
  <button class="nav-link"><%= link_to 'Reminders', reminders_path %></button>
</nav>
